*{
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shara-pick-icon {
  width:20vw;
  margin-right: 5vw;
}

.form-contents {
 display: flex;
 justify-content: flex-end;
}

.search-form {
  width: 65vw;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  
}

.search-form>.input-box {
  width: 100%;
  height: 7vh;
  padding-left: 10px;
}

.search-button {
  width: 8vh;
  border: 0;
  cursor: pointer;
  background-color: #1e63b8;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.top-list {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.main-list {
  display: flex;
  min-width: 200px;
 margin-bottom: 30px;
}

.exhibition-list {
  text-decoration: none;
  margin-right: 10vw;
  color: #000000;
}

.my-page {
  text-decoration: none;
  margin-right: 10vw;
  color: #000000;
}

.login {
  text-decoration: none;
  margin-right: 10vw;
  color: #000000;
}

.sign-up {
  text-decoration: none;
  margin-right: 10vw;
  color: #000000;
}

.user-nickname{
  text-decoration: none;
  color: #000000;
}

.logout {
  margin-left: 10vw;
  text-decoration: none;
  color: #000000;
}