<%= render "mains/header"%>

<%# 商品一覧%>
<div class='item-contents'>
  <h2 class='title'>新規出品商品</h2>

  </div>
  <%#商品一覧%>




<%# 出品ボタン%>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <%= link_to image_tag('box.png' , size: '185x50' ,class: "purchase-btn-icon"), new_item_path %>
</div>

  <%= render "mains/footer" %>